<ActionBar title="Nearby">
</ActionBar>

<GridLayout rows="* 250" columns="*">
  <Mapbox rowSpan="2" [accessToken]="mapBoxToken" mapStyle="streets" hideCompass="true" zoomLevel="13"
    showUserLocation="false" disableZoom="false" disableRotation="false" disableScroll="false" disableTilt="false"
    latitude="52.3602160" 
    longitude="4.8951680"
    (mapReady)="onMapReady($event)">
    <ns-map-marker 
      *ngFor="let sensor of sensors$ | async" 
      [mapBoxViewApi]="mapBoxViewApi"
      [id]="sensor.id" 
      [title]="sensor.name" 
      [subtitle]="'value: ' + sensor.value" 
      [lat]="sensor.location.lat"
      [lng]="sensor.location.lng"
      [selected]="sensor === (active$ | async)"
      (tap)="selectSensor(sensor)"
      (calloutTap)="selectSensor(sensor)"></ns-map-marker>
  </Mapbox>

  <ScrollView row="2" verticalAlignment="bottom" horizontalAlignment="center">
    <StackLayout>
        <ActivityIndicator *ngIf="!(sensors$ | async)"
            width="100" height="150" busy="true" 
            class="activity-indicator">
        </ActivityIndicator>
          
        <ns-map-list-item *ngFor="let sensor of sensors$ | async" [sensor]="sensor" [selected]="sensor === (active$ | async)"
            (select)="selectSensor(sensor, true)">
        </ns-map-list-item>
    </StackLayout>
  </ScrollView>
</GridLayout>